//@import url('https://fonts.googleapis.com/css?family=Figtree');

// Fonts
$font-family-base: 'Figtree',ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
$font-family-sans-serif: $font-family-base;
$font-family-serif: $font-family-base;
$font-family-monospace: $font-family-base;

$font-size-base: .875rem;

$utilities: (
  "height": (
    property: height,
    class: h,
    values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        1r: 1rem,
        2r: 2rem,
        3r: 3rem,
        4r: 4rem,
        5r: 5rem,
    )
  ),
);

$primary: #6875f5;

@import "../../node_modules/bootstrap/scss/bootstrap";

hr {
    color: $gray-500;
}

// fs
.fs-7{
    font-size: 0.75rem;
}

// Card
.card {
    border-color: transparent;
}

// Auth card
@include media-breakpoint-up(sm) {
    #auth-card {
        min-width: map-get($grid-breakpoints, sm);
    }
}

.btn-light {
    border: solid 1px rgba(209,213,219,0.5);
    
}

.btn-primary {
    background-color: $gray-900;
    border-color: transparent;

    :hover {
        background-color: $gray-600;
        border-color: transparent;
    }
}

a {
    color: $gray-600;
}

// Hover colors
.hover-light-gray{
    &:hover{
        background-color: $light !important;
    }
}

// Navbar
.navbar-collapse{
    .active {
        border-color: $primary;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }
}

.navbar-link {
    width: 100%;
    padding-left: 3px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-user-responsive {
    display: none;
}

@include media-breakpoint-down(lg) { 
    #navbar-user {
        display: none !important;
    }

    .navbar-user-responsive{
        display: block;
    }

    .navbar-collapse {
        display: block;
        overflow: hidden;
        position: absolute;
        top: 4rem;
        left: 0;
        width: 100% !important;
        background-color: $white;
        box-shadow: $box-shadow-sm;
        font-weight: $font-weight-semibold;

        p{
            padding-left: 14px;
            padding-right: 10px;
            font-size: $font-size-sm;
            font-weight: $font-weight-light;
            color: $gray-600;
        }

        .navbar-link {
            height: 2.5rem!important;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 14px;
            padding-right: 10px;

            &:not(.active){
                &:hover {
                    background-color: $gray-100;
                    border-left: 4px;
                    border-left-style: solid;
                    border-color: $secondary;
                    margin-left: 0;
                    padding-left: 12px;
                }
            }
        }

        .active{
            border-bottom-width: 0 !important;
            border-bottom-style: none;
            border-left: 4px;
            border-left-style: solid;
            background-color: $primary-bg-subtle;
            margin-left: 0;
            color: $primary;
            padding-left: 10px;
        }
    }
}

.dropdown-menu {
    min-width: 15rem;
    border-color: $gray-200;
}

.color-teal-400{
    color: $teal-400;
}

// Modal

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(107, 114, 128, 0.7);
}

.modal{
    display: block;
}

.modal-header {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    
}

.modal-content {
    border: 0;
}

.modal-footer {
    border: 0;
    background-color: $gray-100;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
}

// Terms and policy
.card-terms {
    width: 50%;
}

@include media-breakpoint-down(lg) { 
    .card-terms{
        width: 95%;
    }
}